:root {
  --yt-bg: #0f0f0f;
  --yt-card: #181818;
  --yt-border: #303030;
  --yt-text-primary: #ffffff;
  --yt-text-secondary: #aaaaaa;
  --yt-accent: #ff0000;

  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: var(--yt-bg);
  color: var(--yt-text-primary);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


#root {
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    accent-color: #ff0000;
  }
  a:hover {
    color: #aaaaaa;
    accent-color: #ff0000;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* for intro yt vid */
.intro {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;
}

.intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.video-card {
  background-color: var(--yt-card);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.video-card img {
  width: 100%;
  display: block;
}

.video-card h2 {
  font-size: 16px;
  margin: 10px;
  color: var(--yt-text-primary);
}

.video-card p {
  font-size: 14px;
  margin: 0 10px 10px;
  color: var(--yt-text-secondary);
}
.video-card:hover {
  background-color: var(--yt-border);
}

.watch-page {
  display: grid; 
  /* GRID, so left vid, rigth other vid cards */
  /* 2 cols */
  grid-template-columns: 2.5fr 1fr;
  gap: 24px;
  padding: 24px;
}

.watch-view {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.watch-view h3 {
  margin: 0;
  font-size: 18px;
  color: var(--yt-text-primary);
}

.watch-player iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  border: none;
}

.watch-title {
  font-size: 20px;
  font-weight: 600;
}

.watch-meta {
  display: flex;
  gap: 16px;
  color: var(--yt-text-secondary);
  font-size: 14px;
}

.watch-description {
  background-color: var(--yt-card);
  padding: 12px;
  border-radius: 10px;
  color: var(--yt-text-secondary);
  font-size: 14px;
}
